:root {
    --primary: #8E0E00;
    --secondary: #1F1C18;
}

h4 {
    margin-top: 20px;
}

body {
    background: linear-gradient(135deg, var(--primary), var(--secondary)), no-repeat;
    
}


.cuadrado {
    padding: 20px;
    text-align: center;
}

.cuadrado img {
    border-radius: 8px;
    box-shadow: 3px 5px 20px black;
    transition: all 300ms;
}

.cuadrado img:hover{
    transform: scale(1.15);
}

.text-center {
    text-align: center;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
}



@media (min-width: 768px) {
    .grid-padre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media (min-width:1024px) {
    .grid-padre {
        grid-template-columns: repeat(4, 1fr);
    }
}