body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23130004' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23250008' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%2338000c' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%234b0010' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%235e0014' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23700018' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%2383001C' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.inicio {
    text-align: center;
    width: 100%;
}

.intro {
    background-image: url("./../img/hair_portada.PNG");
    background-repeat: no-repeat;
    background-size: cover;    
    height: 600px;      
}

.intro-content {
    float: right;
    margin-right: 60px;
    margin-top: 250px;
    margin-left: 60px;
}

section .intro{
    z-index: 0;
}
